body {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

.container {
    max-width: 1221px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.btn-download {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-download:hover {
    background-color: #45a049;
}

.status-text {
    font-size: 16px;
    color: green;
    margin-bottom: 20px;
}

.user-card {
    background-color: gray;
    border: 1px solid violet;
    border-radius: 10px;
    width: 200px; 
    padding: 5px;
    box-shadow: white;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    justify-items: center;
}


.user-card img {
    width: 100%;
    border-radius: 10px;
}

.user-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.user-card p {
    margin: 5px 0;
    color: white;
    font-size: 14px;
}
